/* You can add custom styles here. */

// @import "plugins/numbered";
.action-button {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: #05b;
  color: white;
  border-radius: .3em;
  text-transform: uppercase;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.markdown .action-button:visited,
.action-button:visited {
  color: white;
}

.markdown .action-button:hover,
.action-button:hover {
  text-decoration: none;
  background-color: #04a;
}

.note {
  padding: .5em 1em;
  background-color: #e4edf1;
}
